# TODO: add any new variable to the 'env' section in 'quasar.config.ts'
# TODO: update 'docker/dot_env.placeholder' and 'docker/entrypoint.sh' as well

DOMAIN=localhost:9000
URL=http://localhost:9000

# API
API_HOST=https://api.wodore.com
API_VERSION=v1

# Stripe
STRIPE_ID=MyStripeID

# Imagor (images)
IMAGOR_KEY=mysecret

CLOUDINARY_ENV=EnvName

# Umami (analytics)
UMAMI_WEBSITE_ID=UmamiAnaliticsWebsiteID
# WEBSITE only use if not in dev mode!
UMAMI_WEBSITE_URL=https://stats.wodore.com

# OICD Zitadel
OICD_ISSUER_URL=https://iam.wodore.com
OICD_CLIENT_ID=259166970631487492@wodore.com
OICD_RESOURCE_ID=259166970631421956

# supported env files:
# .env                                # loaded in all cases
# .env.local                          # loaded in all cases, ignored by git
# .env.[dev|prod]                     # loaded for dev or prod only
# .env.local.[dev|prod]               # loaded for dev or prod only, ignored by git
# .env.[quasarMode]                   # loaded for specific Quasar CLI mode only
# .env.local.[quasarMode]             # loaded for specific Quasar CLI mode only, ignored by git
# .env.[dev|prod].[quasarMode]        # loaded for specific Quasar CLI mode and dev|prod only
# .env.local.[dev|prod].[quasarMode]  # loaded for specific Quasar CLI mode and dev|prod only, ignored by git
