<!doctype html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="application-name" content="<%= productName %>" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="theme-color" media="undefined" content="#1a4231" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#1a4231"
    />

    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <meta name="title" content="<%= productName %>" />
    <meta name="description" content="<%= productDescription %>" />

    <!-- Google -->
    <meta itemprop="name" content="<%= productName %>" />
    <meta itemprop="description" content="<%= productDescription %>" />
    <meta itemprop="image" content="https://wodore.com/meta/meta.jpg" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wodore.com" />
    <meta property="og:title" content="<%= productName %>" />
    <meta property="og:description" content="<%= productDescription %>" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta
      property="og:image:secure_url"
      itemprop="image"
      content="https://wodore.com/meta/meta_300.jpg"
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://wodore.com" />
    <meta property="twitter:title" content="<%= productName %>" />
    <meta property="twitter:description" content="<%= productDescription %>" />
    <meta property="twitter:image" content="https://wodore.com/meta/meta.jpg" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=<%= faviconVersion %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=<%= faviconVersion %>"
    />

    <!-- iPhone 14 Pro, 14 Pro Max -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3)"
      href="icons/apple-launch-1290x2796.png?v=<%= faviconVersion %>"
    />
    <!-- iPhone 14, 14 Pro -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3)"
      href="icons/apple-launch-1179x2556.png?v=<%= faviconVersion %>"
    />
    <!-- iPhone 12 Pro Max, 13 Pro Max -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3)"
      href="icons/apple-launch-1284x2778.png?v=<%= faviconVersion %>"
    />
    <!-- iPhone 12, 12 Pro, 13, 13 Pro -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3)"
      href="icons/apple-launch-1170x2532.png?v=<%= faviconVersion %>"
    />
    <!-- iPhone 13 Mini -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3)"
      href="icons/apple-launch-1080x2340.png?v=<%= faviconVersion %>"
    />
    <!-- iPhone XR, 11 -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-828x1792.png?v=<%= faviconVersion %>"
    />
    <!-- iPhone X, XS, 12 mini, 11 Pro -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
      href="icons/apple-launch-1125x2436.png?v=<%= faviconVersion %>"
    />
    <!-- iPhone XS Max, 11 Pro Max -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
      href="icons/apple-launch-1242x2688.png?v=<%= faviconVersion %>"
    />
    <!-- iPhone 8, 7, 6s, 6 -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-750x1334.png?v=<%= faviconVersion %>"
    />
    <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)"
      href="icons/apple-launch-1242x2208.png?v=<%= faviconVersion %>"
    />
    <!-- iPad 10.2" -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-1620x2160.png?v=<%= faviconVersion %>"
    />
    <!-- iPad Mini, Air, 9.7" -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-1536x2048.png?v=<%= faviconVersion %>"
    />
    <!-- iPad Pro 10.5" -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-1668x2224.png?v=<%= faviconVersion %>"
    />
    <!-- iPad Pro 11" -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-1668x2388.png?v=<%= faviconVersion %>"
    />
    <!-- iPad Pro 12.9" -->
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-2048x2732.png?v=<%= faviconVersion %>"
    />
    <% if (ctx.mode.pwa) { %>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link
      rel="mask-icon"
      href="/safari-pinned-tab.svg?v=<%= faviconVersion %>"
      color="#315e47"
    />
    <!-- <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png" /> -->
    <meta name="msapplication-TileColor" content="#315e47" />
    <meta name="apple-mobile-web-app-title" content="<%= pwaManifest.name %>" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=<%= faviconVersion %>"
    />
    <% } %>
  </head>
  <body class="overflow-hidden">
    <!-- quasar:entry-point -->
  </body>
</html>
