// app global css in SCSS form
@use 'sass:map';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// COLORS
// .text-<category>[-<level>]
// .bg-<category>[-<level>]
// for example: .bg-accent-100, .text-negative
.text-white {
  color: $white !important;
}
.bg-white {
  background: $white !important;
}

.text-black {
  color: $black !important;
}
.bg-black {
  background: $black !important;
}
// generate main color classes
@each $name, $schema in $colors {
  .text-#{$name} {
    color: color($name) !important;
  }
  .bg-#{$name} {
    background: color($name) !important;
  }
}
@each $name, $schema in $colors {
  @each $shade, $color in $schema {
    .text-#{$name}-#{$shade} {
      color: $color !important;
    }
    .bg-#{$name}-#{$shade} {
      background: $color !important;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// effects

@each $name, $schema in $colors {
  .text-#{$name}--halo {
    text-shadow: 0px 0px 4px rgba(color($name, 700), 0.7);
  }
}

.dialog-radius {
  border-radius: $dialog-border-radius;
  overflow: hidden;
}

// months colors
@import './months.scss';

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// QUASAR overwrites
@import './quasar.scss';
// additionl fonts
@import './fonts.scss';
// Maplibre overwrites
@import './maplibre-gl.scss';
