// QUASAR overwrites
// https://fontsource.org/docs/getting-started/introduction

@import '@fontsource/roboto-condensed/latin-100-italic.css';
@import '@fontsource/roboto-condensed/latin-100.css';
@import '@fontsource/roboto-condensed/latin-300-italic.css';
@import '@fontsource/roboto-condensed/latin-300.css';
@import '@fontsource/roboto-condensed/latin-400-italic.css';
@import '@fontsource/roboto-condensed/latin-400.css';
@import '@fontsource/roboto-condensed/latin-500-italic.css';
@import '@fontsource/roboto-condensed/latin-500.css';
@import '@fontsource/roboto-condensed/latin-700-italic.css';
@import '@fontsource/roboto-condensed/latin-700.css';
@import '@fontsource/roboto-condensed/latin-900-italic.css';
@import '@fontsource/roboto-condensed/latin-900.css';
