@import 'maplibre-gl/dist/maplibre-gl.css';

.maplibregl-map {
  font: 12px/20px $typography-font-family;
  overflow: hidden;
  //position: relative;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.maplibregl-ctrl {
  clear: both;
  pointer-events: auto;

  /* workaround for a Safari bug https://github.com/mapbox/mapbox-gl-js/issues/8185 */
  transform: translate(0, 0);
}

.maplibregl-ctrl-top-left .maplibregl-ctrl {
  margin: 14px 0 0 14px;
  float: left;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 14px 14px 0 0;
  float: right;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 0 0 0px 0px;
  float: left;
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl {
  margin: 0 0px 0px 0;
  float: right;
}
.maplibregl-ctrl-bottom-left .maplibregl-ctrl-attrib-inner {
  max-width: calc(100vw - 70px);
}
.maplibregl-ctrl-bottom-right .maplibregl-ctrl-attrib-inner {
  max-width: calc(100vw - 120px);
}

.maplibregl-ctrl-group {
  border-radius: $button-rounded-border-radius;
  background: color('primary', 100);
  //border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: $button-shadow;
}
//@media (-ms-high-contrast: active) {
//  .maplibregl-ctrl-group:not(:empty) {
//    box-shadow: 0 0 0 2px ButtonText;
//  }
//}

.maplibregl-ctrl-group button {
  height: 40px; // minus 3px from bottom border
  width: 40px;
  display: block;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
}

.maplibregl-ctrl-group button + button {
  border-top: 2px solid rgba(color('primary', 200), 0.4);
}

.maplibregl-ctrl button .maplibregl-ctrl-icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 34px 34px;
}

//.maplibregl-ctrl-attrib-button:focus,
//.maplibregl-ctrl-group button:focus {
//  box-shadow: 0 0 2px 2px rgb(0 150 255 / 100%);
//}

.maplibregl-ctrl button:disabled .maplibregl-ctrl-icon {
  opacity: 0.25;
}

.maplibregl-ctrl button:not(:disabled):hover {
  //background-color: rgb(0 0 0 / 5%);
  background-color: rgba(color('white', 500), 0.1);
}

//.maplibregl-ctrl-group button:focus:focus-visible {
//  box-shadow: 0 0 2px 2px rgb(0 150 255 / 100%);
//}

.maplibregl-ctrl-group button:focus:first-child,
.maplibregl-ctrl-group button:hover:first-child {
  border-radius: $button-rounded-border-radius $button-rounded-border-radius 0 0;
}

.maplibregl-ctrl-group button:focus:last-child,
.maplibregl-ctrl-group button:hover:last-child {
  border-radius: 0 0 $button-rounded-border-radius $button-rounded-border-radius;
  border-bottom: 3px solid rgba(0, 0, 0, 0.12);
}

.maplibregl-ctrl-group button:last-child {
  border-radius: 0 0 $button-rounded-border-radius $button-rounded-border-radius;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

.maplibregl-ctrl-top-right,
.maplibregl-ctrl-top-left {
  .maplibregl-ctrl-group button:active {
    background-color: rgba(color('accent', 500), 0.1);
  }
}

.maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='m10.5 14 4-8 4 8z'/%3E%3Cpath fill='%23888' d='m10.5 16 4 8 4-8z'/%3E%3C/svg%3E");
}

.maplibregl-ctrl-scale {
  //background-color: rgb(255 255 255 / 0%);
  margin: 6px !important;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  max-height: 15px;
  text-shadow:
    1px 1px 2px rgba(white, 0.7),
    -1px 1px 2px rgba(white, 0.7),
    -1px -1px 2px rgba(white, 0.7),
    1px -1px 2px rgba(white, 0.7);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 15px;
  font-weight: 700;
  border-width: medium 3px 3px;
  border-style: none solid solid;
  border-color: #333;
  padding: 0 5px;
  color: #333;
  box-sizing: border-box;
}
